DATABASE_URL=sqlite+aiosqlite:///./sistema_iiot.db
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2
TEMP_ALERTA_AMARILLA=80.0
TEMP_EMERGENCIA_ROJA=90.0
VIBRACION_ALERTA_AMARILLA=2.5
VIBRACION_EMERGENCIA_ROJA=3.5
VENTANA_ANALISIS=50
